<div *ngIf="profile">
  <mat-card *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </mat-card>
  <mat-card *ngIf="isRunning">
    <mat-card-title>{{elapsed}} - {{status}}</mat-card-title>
    <mat-card-content>
      <mat-progress-bar [value]="progress"></mat-progress-bar><br />
      <button mat-raised-button color="primary" (click)="stop()">Stop Build</button>
      <pre id="scroller">{{line}}</pre>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!isRunning && !isLoading">
    <button mat-raised-button color="primary" (click)="start()">Build Now</button>
  </mat-card>
</div>
